@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@400;500;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
/* header styles here  */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 180px;
}
.header-title{
    color: #3a3a3a;
    font-size: 24px;
    font-family: 700px;
}
nav > ul{
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 35px;
}
nav li{
    list-style: none;
}
nav li a{
    color: #3a3a3a;
    font-weight: 600px;
    text-decoration: none;
}
/* influencer styles here  */
.influencer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 180px;
}
.influencer-content{
    width: 40%;
}
.influencer-img{
    width: 500px;
    height: 500px;
}
.influencer-title{
    font-size: 50px;
    font-weight: 700px;
    color: #3a3a3a;
}
.influencer-description{
    font-weight: 600px;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 26px;
}
.btn{
    padding: 15px 25px;
    border-radius: 30px;
    background-color: #E02C6D;
    color: white;
    font-size: 20px;
    border: 0px;
}
.influencer-img{
    background: url('../images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-size: auto;
}
.camera{
    margin-top: 10px;
}
/* logo styles here  */
.logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 330px;
}
/* popular styles here  */
.popular-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popular-title{
    font-size: 28px;
    font-weight: 600px;
    color: #3a3a3a;
    margin-bottom: 50px;
}
.popular{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.card{
    width: 300px;
    height: 430px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    margin-left: 100px;
    
}
.card-title{
    margin-top: 16px;
    font-size: 28px;
    font-weight: 500px;
    color: #18191F;
}
.price{
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.card-description{
    font-size: 14px;
    font-weight: 700px;
    line-height: 26px;
}


/* responsive styles here  */
@media screen and (max-width:576px) {
    header{
        width: 100%;
        flex-direction: column;
        padding: 10px;
    }
    nav ul{
        margin-top: 50px;
        flex-direction: column;
    }
    .influencer-container{
        width: 100%;
        flex-direction: column-reverse;
        margin: 20px 10px;
    }
    .influencer-content{
        width: 90%;
        height: auto;
        text-align: center;
        margin-top: 0px;
    }
    .influencer-title{
        font-size: 30px;
    }
    .influencer-img{
       width: 90%;
       background-size: 370px;
       margin-bottom: 0px;
    }
    .camera{
        width: 380px;
        height: auto;
    }
    .logo-container{
        margin: 0px;
        padding: 10px;
        flex-direction: column;
        gap: 30px;
    }
    .popular-container{
        margin-top: 50px;
    }
    .popular{
        grid-template-columns: repeat(1,1fr);
        row-gap: 20px;
    }
    .card{
        margin-left: 0px;
    }
   
}
@media screen and (min-width: 576px) and (max-width:960px) {
    header{
        width: 90%;
        padding: 10px;
        flex-direction: column;
        gap: 30px;
    }
    .influencer-container{
        width: 90%;
        margin: 30px 10px;
        flex-direction: column-reverse;
    }
    .influencer-content{
        width: 90%;
        height: auto;
        text-align: center;
    }
    .logo-container{
        margin: 30px;
        padding: 10px;
        flex-wrap: wrap;
        gap: 20px;
    }
    .popular{
        grid-template-columns: repeat(2,1fr);
    }
    .card{
        margin-left: 0px;
    }
}